# npm module
node_modules
package-lock.json
package.json

# environment
*__pycache__/
.config

# log
content

# key
.streamlit/secrets.toml

#test
chatgpt_test.py
# commit code
for_git_commit.ipynb

# MATH dataset
MATH/*
